@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form>
        <h1 class="display-4">Welcome</h1>
        <input type="button" value="xmlTransformator" onclick="location.href='@Url.Action("xmlTransformator", "Home")'" />
        <p>Transformation</p>
        @ViewBag.TransformMessage

        <input type="button" value="Validator" onclick="location.href='@Url.Action("XPathValidation", "Home")'" />
        <p>Validate</p>
        @ViewBag.ValidateMessage
    </form>
</div>
